.select span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items{
    border: 1px solid black;
    min-height: 60px;
    min-width: 60px;
}

.item.selected {
    background-color: #61dafb;
    color: white;
}